* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  list-style-type: none;
}

a {
  text-decoration: none !important;
}
nav ol,
nav ul {
  list-style: none;
}
.formik-input {
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
  border-width: 0ch;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main {
    margin-left: 16px;
    margin-right: 16px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main {
    margin-left: 32px;
    margin-right: 32px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main {
    margin-left: 64px;
    margin-right: 64px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main {
    margin-left: 64px;
    margin-right: 64px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
